html, body {
  height: 100%;
  width: 100%;
  background-color: #DEB887;
}
table,td, th{
  border-collapse: collapse;
  border:1px solid grey;
  margin: 1px;
} 
th{
  background-color: #000000;
  color: rgb(255,255,255); 
  }
.color1{
  background-color: rgb(244,0,0);
}
header{
  background-image: url("images/IMG_1715.jpg");
  background-repeat: no-repeat;
  background-size: 800px 800px;
  background-position: center;
  background-blend-mode: lighten;
}
